#submodel-form,
#model-form {
    position: absolute;
    border: solid 1px gray;
    border-radius: 20px;
    padding: 10px;
    background-color: aliceblue;
    position: absolute;
    top: 10%;
}

#submodel-form label,
#model-form label,
#submodel-form input,
#model-form input {
    display: block;
    padding: 20px;
    background-color: aliceblue;

}

.add-visibility {
    display: none;
}
#subadd-mdl{
    cursor: pointer;
}
#submodel-main-m-nput, #submodel-main-m-nput-label{
    position: absolute;
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}

.info-interprated, #modelStats{
    position: absolute;
    right: 10%;
    top: 24%;
    padding: 20px;
    text-align: unset;
    border-radius: 10px;
    background-color: rgba(168, 214, 255, 0.835);
    font-size: 22px;
    overflow: auto;
    height: 350px;
    width: 550px;
}
.info-interprated, #modelStats h3{
    margin-bottom: 10px;
}
.info-interprated, #modelStats ul{
    margin-left: 25px;
}
.info-interprated, #modelStats ul li{
    margin-bottom: 10px;
}
.info-interprated, #modelStats ul li span{
    color: maroon;
    font-size: 24px;
}
#sub-stats, #mdl-stats{
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(59, 25, 43);
    width: 150px;
    padding: 5px;
    font-size: 22px;
    position: absolute;
    right: 26%;
    top: 80%;
    color: white;
}
#sub-stats:hover, #mdl-stats:hover{
  background-color: #853D61;
}

#sub-stats{
 right: 24.5%;   
}
.info-interprated{
    color: black;

}
.info-interprated h3{
    font-weight: 300;

}
.info-interprated ul li{
    margin-left: 30px;
    margin-bottom: 15px;
}
.info-interprated p{
    margin-bottom: 15px;
    font-size: 33px;
}