/* header */
header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #88DFEA;
    position: fixed;
    height: 5rem !important;
    overflow: hidden;
    z-index: 10;
    padding-top: 1.3rem;
}
.search-icon{
    /* border: solid black 1px; */
    position: absolute;
    right: 20%;
    top: 2.6rem;   
}
.material-icons.md-36 { font-size: 36px; }
/* logo */
.logo{
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    color: maroon;
    margin-left: 6%;
}

/* visibility */
.add-visibility{
    display: none;
}